body {
    background-color: #fff;
    
}

main {
    background-color: #fff;
    min-height: 10vh;
}

nav {
    background-color: rgb(186, 204, 176);


}

header{
    background-color: rgb(243, 76, 76);
    min-height: 10vh;
    color: #ffffff;
    font-style: italic;
    padding-left: 85px;
    padding-top: 5px;
    
}

footer {
    background-color: rgb(240, 174, 174)226, 96, 96;
    color: rgb(63, 77, 56);
    padding: 20px;
    text-align: center;
    min-height: 10vh;
}


nav, main {
    min-height: 80vh;
}
.col-6{
padding-right: 45px;
}

